{% macro spinner(size='3') %}
<div class="dark absolute w-full h-full flex justify-center items-center">
  <i class="fa fa-spinner fa-pulse fa-{{ size or '3' }}x" aria-hidden="true"></i>
</div>
{% endmacro %}

{% macro iframe(src, title='', size=undefined) -%}
  <div class="relative aspect-video">
    {{ spinner(size) }}
    <iframe class="absolute w-full h-full" src="{{ src | safe }}" title="{{ title }}" allowfullscreen></iframe>
  </div>
{%- endmacro %}
