<footer class="dark mt-auto border-t border-light">

  <div class="container p-8 text-center">

    <div class="mb-4 media-icon-basic media-icon-list text-2xl space-x-4 duration-300">
      {% icons site.contact %}
    </div>

    <div class="mx-auto xl:flex flex-row justify-center text-sm">
      <div class="py-0 xl:border-r">
        <span class="whitespace-nowrap">Copyright &copy; <time datetime="{{ site.copyright.date | date }}">{{ site.copyright.date | date('YYYY') }}</time></span>
        <span class="whitespace-nowrap">{{ site.copyright.owner }}</span>
      </div>
      <div class="py-0">
        <span class="whitespace-nowrap">Site design by</span>
        <a href="https://github.com/dawaltconley" class="subtle-link whitespace-nowrap" target="_blank">
          <i class="fab fa-github fa-fw">&nbsp;</i>Dylan Awalt-Conley
        </a>
      </div>
    </div>

  </div>

</footer>
